.looking-for-a-lollip {
    color: #31373D;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 40px;
    text-align: left;   
    text-shadow: 1.5px 0 #888888;
  }

  .body {
    color: #31373D;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    text-align: justify;
  }

  .cta-text1 {
    color: #FFFFFF;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
  }

  .cta-text2 {
    color: #31373D;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    text-align: center;
  }

  .bg {
    margin-top: 8%;
    background-image: linear-gradient(44.59deg, #D5E2E9 0%, #EAEEF1 100%);
    height: 409px;
    width: 60rem;
    position: absolute;
  }

  .top {
    z-index: 10;
  }

  .this-is-a-heading-in {
    color: #31373D;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
    position: flex;
    margin-top: 22%;
    margin-bottom: 8%;
  }

  .rectangle {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
  }

  .compare-pricing-toda {
    color: #31373D;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }

  .lorem-ipsum-is-simpl {
    color: #8B8E91;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
  }

  .top-buffer { margin-top:7%; }

  .rectBtn {
    background-color: #FFFFFF;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.26);
    width: 125px;
    height: 46px;
  }

  /* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #2196f3;
    -webkit-transition: .4s;
    transition: .4s;
  }

  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .off {
    color: #31373D;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    margin-bottom: 2px;
  }

  .off50 {
    color: #8B8E91;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-align: left;
    margin-top: 0px;
  }

  .card {
    
        background-color: #FFFFFF;
        box-shadow: 0 2px 5px 0 rgba(113, 100, 100, 0.3);
        width: 214px;
        height: 200px;
        margin-top:30px ;

  }

  .rectangle-card {
    background-color: #FFFFFF;
    box-shadow: 0 8px 19px 0 rgba(0, 0, 0, 0.16);
    width: 214px;
    height: 230px;
    margin-top: 15px;
  }

  .big {
      color: #3D3C31;
      font-family: aktiv-grotesk, sans-serif;
      font-size: 30px;
      font-weight: 700;
      line-height: 34px;
      text-align: left;
  }

  .para {
    color: #8B8E91;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 14px;
    font-style: italic;
    font-weight: 400;
    line-height: 22px;
    display: inline;
  }

  .bottom {
      color: #31373D;
      font-family: aktiv-grotesk, sans-serif;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
  }

  .last {
    color: #0099FF;
  }

  .loved-by-users-reco-copy-2 {
    color: #31373D;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 2rem;
    font-weight: 700;
    line-height: 34px;
  }

  .lorem-ipsum-is-simple {
    color: #8B8E91;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
  }

  .left-buffer {
    margin-left: 5%;
  }

  .case {
    width: 75%;
  }

  .lowtop-buffer {
    margin-top: 5%;
  }

  .heres-what-our-cust {
    color: #31373D;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    text-align: center;
  }

  .blockquote {
    color: #8B8E91;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 500;
    line-height: 22px;
    display: inline-block;
    max-width: 450px;
  }

  .path {
    width: 30px;
    margin-bottom: 10px;
    display: inline-block;
  }

  .user {
    width: 100%;
  }

  .username {
    color: #31373D;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 34px;
    text-align: left;
    font-style: normal;
  }

  .usertitle {
    color: #31373D;
    font-family: aktiv-grotesk, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 34px;
    text-align: left;
    font-style: normal;
  }

  .oval {
    background-image: linear-gradient(221.9deg, #D5E2E9 0%, #EAEEF1 100%);
    border-radius: 100%;
    width: 9px;
    height: 9px;
    margin-right: 9px;
  }

  .oval-active {
    background-color: #0099FF;
    border-radius: 100%;
    width: 9px;
    height: 9px;
    margin-right: 9px;
  }